.fixed-canvas{
    position: absolute;
    z-index: -1;
}
.container.theme-showcase{
    margin-top: 50px;
    padding-top: 20px;
    top: 50px;
    background-color: #ffffff;
}
a.left.carousel-control{
	cursor: url(../img/arrow-left.png), default;
    width: 50%;
    background-image: none;
}
a.right.carousel-control{
	cursor: url(../img/arrow-right.png), default;
    width: 50%;
    background-image: none;
}
.material-icons{
	position: relative;
    top: 5px;
}
#Tab_transition{
	margin: 50px;
}
.navbar-brand{
    padding-top: 0px;
    width: 300px;
}
.navbar-brand img:first-child {
    width: 100%;
}
.navbar.navbar-default.navbar-fixed-top{
    height: 70px;
}
.container.theme-showcase{
    margin-top: 70px;
}
.nav.navbar-nav.navbar-right{
    margin-top:20px;
    background-color: #f8f8f8;
}
.item img{
    width: 100%;
}
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.thumbnail {
    padding: 0;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
#carousel-bounding-box{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
}
#Tab_transition {
    margin: 10px 50px 50px 50px;
}
#Kontkti_saimn{
    float: right;
}
.page-header{
    margin-top: -20px;
}
iframe{
    width: 100%;
    height: 500px;
}
.KoAudzejamHead{
    margin-top: 50px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent;
}
.navbar-collapse.collapse.in{    
    border-top-width: 0px;
}
.bg-lightgray{
    background-color:LightGray;
    margin-top: 100px;
}
